@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: #0e1116;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WRAPPER */
.profile-card {
  width: min(1000px, 95vw);
}

/* CARD */
.right-side {
  background: white;
  border-radius: 22px;
  padding: 22px;
  height: 92vh;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* TOP CARD */
.profile-top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
}

/* LEFT */
.profile-top-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.top-icon {
  width: 70px;
  height: 70px;
  border-radius: 16px;
  background: linear-gradient(135deg,#ffcc33,#ff9900);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

/* TEXT */
.top-user-details h2 {
  font-size: 30px;
  color: #111827;
}

.top-user-details p {
  font-size: 16px;
  color: #6b7280;
}

/* RIGHT */
.profile-top-right {
  text-align: right;
}

.profile-top-right h2 {
  font-size: 34px;
  color: #ff9900;
}

.profile-top-right p {
  font-size: 16px;
  color: #6b7280;
}

/* STATUS */
.status-badge {
  display: inline-block;
  margin-top: 8px;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 999px;
  font-weight: 600;
}

.status-badge.active {
  background: #dcfce7;
  color: #16a34a;
}


.form-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 14px;
  align-items: start;
}

/* FIELD BLOCK */
.form-grid div {
  display: flex;
  flex-direction: column;
}

/* LABEL */
label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #374151;
}

/* INPUTS */
input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #f8fafc;
  font-size: 15px;
  box-sizing: border-box; 
}

/* ADDRESS FULL WIDTH */
.address-field {
  grid-column: 1 / -1;  /* full row */
}

textarea {
  min-height: 85px;
  resize: none;
}