/* login.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    height:100vh;

    overflow:hidden;

    background:#0f0f0f;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;
}

/* BACKGROUND */

.bg1{

    position:absolute;

    width:450px;
    height:450px;

    background:#ffb800;

    border-radius:50%;

    top:-120px;
    left:-120px;

    filter:blur(130px);

    opacity:0.35;
}

.bg2{

    position:absolute;

    width:450px;
    height:450px;

    background:#ff5e00;

    border-radius:50%;

    bottom:-120px;
    right:-120px;

    filter:blur(130px);

    opacity:0.35;
}

/* CARD */

.login-card{

    width:950px;

    height:600px;

    background:rgba(20,20,20,0.92);

    border-radius:35px;

    overflow:hidden;

    display:flex;

    position:relative;

    z-index:10;

    box-shadow:0 20px 60px rgba(0,0,0,0.55);
}

/* LEFT */

.left-side{

    width:40%;

    padding:50px;

    color:white;

    background:
    linear-gradient(
        135deg,
        #ffb800,
        #ff5e00
    );

    display:flex;

    flex-direction:column;

    justify-content:center;
}

.logo-box{

    width:80px;
    height:80px;

    border-radius:25px;

    background:rgba(255,255,255,0.2);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:35px;

    margin-bottom:30px;
}

.left-side h1{

    font-size:50px;

    line-height:1.1;

    margin-bottom:20px;
}

.left-side p{

    font-size:16px;

    line-height:1.8;
}

/* RIGHT */

.right-side{

    flex:1;

    background:white;

    padding:55px;

    display:flex;

    flex-direction:column;

    justify-content:center;
}

.top-text{

    margin-bottom:35px;
}

.top-text h2{

    font-size:40px;

    color:#111827;

    margin-bottom:10px;
}

.top-text p{

    color:#6b7280;
}

/* FORM */

.input-box{

    margin-bottom:25px;
}

.input-box label{

    display:block;

    margin-bottom:10px;

    font-size:14px;

    font-weight:600;
}

.input-field{

    height:58px;

    background:#f8fafc;

    border-radius:18px;

    display:flex;

    align-items:center;

    padding:0 18px;

    gap:14px;

    border:2px solid transparent;
}

.input-field:focus-within{

    border-color:#ff9900;

    background:white;
}

.input-field i{

    color:#ff8800;
}

.input-field input{

    flex:1;

    border:none;

    outline:none;

    background:none;

    font-size:15px;
}

#togglePassword{

    cursor:pointer;
}

/* BUTTON */

button{

    width:100%;

    height:58px;

    border:none;

    border-radius:18px;

    background:
    linear-gradient(
        135deg,
        #ffb800,
        #ff5e00
    );

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    margin-top:10px;
}

/* POPUP */

.popup{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.45);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:9999;
}

.popup-box{

    width:350px;

    background:white;

    padding:35px 25px;

    border-radius:28px;

    text-align:center;
}

.popup-box i{

    font-size:65px;

    margin-bottom:20px;
}

.popup.success i{

    color:#22c55e;
}

.popup.error i{

    color:#ef4444;
}

.popup-box h3{

    font-size:28px;

    margin-bottom:10px;
}

.popup-box p{

    margin-bottom:25px;

    color:#6b7280;
}