@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right,#97b8f4);
}

.login-container{
    position:relative;
    width:400px;
}

.login-box{
    background:rgba(242, 239, 239, 0.35);
    backdrop-filter:blur(10px);
    padding:100px 40px 40px;
    border-radius:40px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.profile-circle{
    position:absolute;
    top:-70px;
    left:50%;
    transform:translateX(-50%);
    width:140px;
    height:140px;
    background:#244b7e;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:60px;
    z-index:10;
}

.input-box{
    display:flex;
    align-items:center;
    margin-bottom:25px;
    background:#35548b;
    border-radius:5px;
    overflow:hidden;
}

.input-box .icon{
    width:60px;
    height:55px;
    background:#022b63;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:18px;
}

.input-box input{
    width:100%;
    height:55px;
    border:none;
    outline:none;
    background:transparent;
    padding:0 15px;
    color:white;
    font-size:16px;
}

.input-box input::placeholder{
    color:#f9f7f7;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
    font-size:14px;
    color:#1f355e;
}

.options a{
    text-decoration:none;
    color:#1f355e;
    font-style:italic;
}
.eye-icon{
    width:60px;
    height:55px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    cursor:pointer;
    font-size:18px;
}

.login-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(to right,#1b386b);
    color:#e1e5eb;
    font-size:20px;
    font-weight:600;
    letter-spacing:2px;
    cursor:pointer;
    transition:0.3s;
}

.login-btn:hover{
    transform:scale(1.03);
}

@media(max-width:450px){

    .login-container{
        width:90%;
    }

    .login-box{
        padding:90px 20px 30px;
    }

}